.pferde-detail {
    background-color: #faf0d7;
    color: #000;
    padding: 20px;
    border: 1px solid #ccc;
    width: 70%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }
  
  .details {
    display: flex;
    flex-direction: row;
  }
  
  .text {
    flex: 1;
    padding-right: 20px;
  }
  
  .image {
    flex: 0 0 700px; /* Breite des Bildbereichs vergrößert */
  }
  
  .image img {
    width: 100%;
    height: auto;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 20px;
  }
  
  p {
    margin: 10px 0;
  }
  
  strong {
    font-weight: bold;
  }
  