* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --index: calc(1vw + 1vh);
    --transition: cubic-bezier(.1, .7, 0, 1);
}

body{
    background-color: rgb(240, 234, 187);
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: 20 px;
}

.header {
    margin-bottom: 20px;
}

.header h1, .header a {
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}

.items-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.items{
    display: flex;
    gap: 1rem; /* Erhöht den Abstand zwischen den Bildern */
    perspective: calc(var(--index) * 35);
}

.item{
    width: calc(var(--index) * 3);
    height: calc(var(--index) * 12);
    background-color: rgb(240, 234, 187);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    filter: grayscale(1) brightness(.5);
    transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
    will-change: transform, filter, rotateY, width;
}

.item.active {
    width: 28vw;
    filter: inherit;
    z-index: 100;
    transform: translate3d(0, 0, calc(var(--index) * 10));
    margin: 0 .45vw;
}

.item::before, .item::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    right: calc(var(--index) * -1);
}

.item::after{
    left: calc(var(--index) * -1);
}

.items .item:hover{
    filter: inherit;
    transform: translate3d(0, 0, calc(var(--index) * 10));
    z-index: 100;
}

/*Right*/

.items .item:hover + *{
    filter: inherit;
    transform: translate3d(0, 0, calc(var(--index) * 8.5)) rotateY(35deg);
    z-index: 99;
}

.items .item:hover + * + *{
    filter: inherit;
    transform: translate3d(0, 0, calc(var(--index) * 5.6)) rotateY(40deg);
    z-index: 98;
}

.items .item:hover + * + * + *{
    filter: inherit;
    transform: translate3d(0, 0, calc(var(--index) * 2.5)) rotateY(30deg);
    z-index: 97;
}

.items .item:hover + * + * + * + *{
    filter: inherit;
    transform: translate3d(0, 0, calc(var(--index) * .6)) rotateY(15deg);
    z-index: 96;
}


/*Left*/

.items .item:has( + :hover){
    filter: inherit;
    transform: translate3d(0, 0, calc(var(--index) * 8.5)) rotateY(-35deg);
    z-index: 99;
}

.items .item:has( + * + :hover){
    filter: inherit;
    transform: translate3d(0, 0, calc(var(--index) * 5.6)) rotateY(-40deg);
    z-index: 98;
}

.items .item:has( + * + * + :hover){
    filter: inherit;
    transform: translate3d(0, 0, calc(var(--index) * 2.5)) rotateY(-30deg);
    z-index: 97;
}

.items .item:has( + * + * + * + :hover){
    filter: inherit;
    transform: translate3d(0, 0, calc(var(--index) * .6)) rotateY(-15deg);
    z-index: 96;
}

.items .item:active, .items .item:focus {
    width: 28vw;
    filter: inherit;
    z-index: 100;
    transform: translate3d(0, 0, calc(var(--index) * 10));
    margin: 0 .45vw;
}
