.ueber-mich-container {
  background-color: #faf0d7;
  color: #000;
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 70%;
  margin: 20px auto;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  flex-direction: row; /* Ändert die Ausrichtung auf horizontal */
  align-items: flex-start; /* Richtet die Items am Start aus */
  gap: 20px;
}

.main-image {
  flex: 0 0 50%; /* Nimmt 50% des Containers ein */
  max-width: 50%;
}

.main-image img {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text {
  flex: 1; /* Nimmt den verbleibenden Platz ein */
  text-align: left;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px; /* Erhöht den Abstand zwischen den Thumbnails */
  margin-top: 20px;
}

.card {
  width: 190px;
  height: 120px;
  padding: 0.5rem;
  background: rgba(198, 198, 198, 0.34);
  border-radius: 8px;
  backdrop-filter: blur(5px);
  border-bottom: 3px solid rgba(255, 255, 255, 0.440);
  border-left: 2px rgba(255, 255, 255, 0.545) outset;
  box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
  transform: skewX(3deg);
  transition: .6s;
  overflow: hidden;
  color: white;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card:hover {
  height: 254px;
  transform: skew(0deg);
}

.align {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-self: flex-start;
}

.card h1 {
  text-align: center;
  margin: 1.3rem;
  color: rgb(218, 244, 237);
  text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
}
