.ueber-mich-container {
  background-color: #faf0d7;
  color: #000;
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 70%;
  margin: 20px auto;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box-Shadow für den Container */
}

.content {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.main-image {
  flex: 0 0 450px; /* Größe des Hauptbilds vergrößert */
  margin-right: 20px;
}

.main-image img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box-Shadow für das Hauptbild */
}

.text {
  flex: 1;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Text von oben nach unten anordnen */
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 150px; /* Größerer oberer Rand, um die Thumbnails weiter nach unten zu verschieben */
}

.thumbnails img {
  width: 100px;
  height: auto;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box-Shadow für Thumbnails */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Übergang für Hover-Effekt */
}

.thumbnails img:hover {
  transform: scale(1.7);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Größere Box-Shadow beim Hover */
}
