.unsere-pferde {
  padding: 20px;
  text-align: center;
}

.horse-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.horse-card {
  width: 150px;
  height: 150px;
  margin: 10px;
  overflow: hidden;
  border-radius: 50%;
  transition: transform 0.6s ease;
}

.horse-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.horse-card:hover {
  transform: scale(1.8);
}

.horse-card p {
  position: relative;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  color: #000;
}

.horse-card a {
  text-decoration: none;
  color: inherit;
}
