.unsere-pferde {
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.horse-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  justify-content: center;
}

.horse-card {
  width: 150px;
  height: 150px;
  margin: 10px auto 30px auto;
  overflow: hidden;
  border-radius: 50%;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.horse-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.horse-card:hover {
  transform: scale(1.8);
  z-index: 1;
  opacity: 1;
}

/* Reduces opacity for other horse-cards when one is hovered */
.horse-gallery:hover .horse-card {
  opacity: 0.2;
}

.horse-gallery .horse-card:hover {
  opacity: 1;
  z-index: 1;
}

.horse-card p {
  position: relative;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  color: #000;
}

.horse-card a {
  text-decoration: none;
  color: inherit;
}
